workflow_agents.json
{
  "name": "agents_compression",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "compression",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "02c6041a-4441-40cd-8d96-b2ca31295fa3",
      "name": "Webhook",
      "webhookId": "44ba2823-8f24-4268-b2b0-2822b1b6eeda"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://unsheltering-interjectory-bernard.ngrok-free.dev/compresser",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chemin_image",
              "value": "={{ $json.chemin_image }}"
            },
            {
              "name": "format_recommande",
              "value": "={{ $json.format_recommande }}"
            },
            {
              "name": "qualite_recommandee",
              "value": "={{ $json.qualite_recommandee }}"
            },
            {
              "name": "dossier_sortie",
              "value": "={{ $json.dossier_sortie }}"
            },
            {
              "name": "format_original",
              "value": "={{ $json.format_original }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        816,
        0
      ],
      "id": "7498b09e-d961-4e51-9f6b-860f6cf597d4",
      "name": "Agent_Compresseur"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://unsheltering-interjectory-bernard.ngrok-free.dev/analyser",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chemin_image",
              "value": "={{ $json.body.chemin_image }}"
            },
            {
              "name": "categorie",
              "value": "={{ $json.body.categorie }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "75e1aae3-966c-4555-a9cf-a72c8b57a0e1",
      "name": "Agent_Analyseur"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://unsheltering-interjectory-bernard.ngrok-free.dev/classifier",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"rapport\"  : {{ JSON.stringify($('Agent_Analyseur').item.json) }},\n  \"categorie\": \"{{ $('Webhook').item.json.body.categorie }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "f2412895-6b70-4988-8e6f-f7f2082018b5",
      "name": "Agent_Classifieur"
    },
    {
      "parameters": {
        "jsCode": "const data        = $input.item.json;\nconst webhookData = $('Webhook').item.json.body;\nconst categorie   = webhookData.categorie || \"photos\";\n\n// Format original de l'image (depuis Agent 1)\nconst rapport_analyse = $('Agent_Analyseur').item.json;\nconst format_original = rapport_analyse.metadonnees?.format || \"INCONNU\";\n\nconst dossier_sortie = \"/Users/mac/Downloads/Sys_Compression_Automatique/results/\" + categorie;\n\nreturn {\n  json: {\n    format_recommande   : data.format_recommande   || \"JPEG\",\n    qualite_recommandee : data.qualite_recommandee || 85,\n    format_original     : format_original,\n    categorie           : categorie,\n    chemin_image        : webhookData.chemin_image,\n    dossier_sortie      : dossier_sortie,\n    rapport_analyse     : rapport_analyse,\n    recommandation      : data\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "c5f7f6a6-e712-4f50-be9c-b01060a539c7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://unsheltering-interjectory-bernard.ngrok-free.dev/evaluer",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chemin_originale",
              "value": "={{ $('Webhook').item.json.body.chemin_image }}"
            },
            {
              "name": "rapport_compression",
              "value": "={{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        0
      ],
      "id": "abae1a1f-c850-493c-98d2-fe44949616f9",
      "name": "Agent_Evaluateur"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://unsheltering-interjectory-bernard.ngrok-free.dev/rapport",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"rapport_analyse\": $('Agent_Analyseur').first().json,\n    \"recommandation\": $('Agent_Classifieur').first().json,\n    \"rapport_compression\": $('Agent_Compresseur').first().json,\n    \"rapport_evaluation\": $('Agent_Evaluateur').first().json,\n    \"format_original\": $('Code in JavaScript').first().json.format_original,\n    \"categorie\": $('Code in JavaScript').first().json.categorie\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        0
      ],
      "id": "796f44c3-685b-464e-a91d-8e807e314611",
      "name": "Agent_Rapporteur"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    rapport_analyse     : $('Agent_Analyseur').first().json,\n    recommandation      : $('Agent_Classifieur').first().json,\n    rapport_compression : $('Agent_Compresseur').first().json,\n    rapport_evaluation  : $('Agent_Evaluateur').first().json,\n    rapport_final       : $('Agent_Rapporteur').first().json\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        0
      ],
      "id": "2c84d2ff-b760-48cf-a62a-e5df0aaf8cd1",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1616,
        0
      ],
      "id": "5f0abbbd-3d90-4a64-a1a8-f99d3c93d19d",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Agent_Analyseur",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agent_Rapporteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent_Compresseur": {
      "main": [
        [
          {
            "node": "Agent_Evaluateur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent_Analyseur": {
      "main": [
        [
          {
            "node": "Agent_Classifieur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent_Classifieur": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Agent_Compresseur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent_Evaluateur": {
      "main": [
        [
          {
            "node": "Agent_Rapporteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent_Rapporteur": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "35f759de-f8a7-4484-acb6-473a53da7c4d",
  "meta": {
    "instanceId": "4636a7d7f756b95c6b1ee3f28f9fb45134a73335aed07fb4ecf574a85cd231d4"
  },
  "id": "NLotBHl6LU5boQAk",
  "tags": []
}
